<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="PrivateSettings.config">
  <add key="DedsDatabaseName" value="dcftdes"/>
  </appSettings>
  <connectionStrings configSource="PrivateConnectionStrings.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQueueService" sendTimeout="00:10:00" receiveTimeout="00:10:00"/>
        <binding name="BasicHttpBinding_IDedsPublishService" sendTimeout="00:20:00" receiveTimeout="00:20:00" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDedsSearchService" sendTimeout="00:20:00" receiveTimeout="00:20:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/QueueService/QueueService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueService"
          contract="IQueueService" name="BasicHttpBinding_IQueueService" />
      <endpoint address="http://localhost:100/Deds/Publish/DedsPublishService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDedsPublishService"
          contract="IDedsPublishService" name="BasicHttpBinding_IDedsPublishService" />
      <endpoint address="http://localhost:100/Deds/Search/DedsSearchService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDedsSearchService"
          contract="IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
    </client>
  </system.serviceModel>
</configuration>