<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DpsConnectionString" connectionString="__DpsConnectionString__;"/>
  <add name="DpsMasterConnectionString" connectionString="__MasterConnectionString__"/>
  <add name="DedsConnectionString" connectionString="__DedsConnectionString__"/>
</connectionStrings>